<img src="{{images.6.url}}" alt="{{name}}" class="modal-img">
<img src="{{images.1.url}}" alt="{{name}}" class="modal-big-img">
<h3 class="modal-head">INFO</h3>
<p class="modal-info">{{name}}</p>
<h3 class="modal-head">WHEN</h3>
<p class="modal-info between-string">{{dates.start.localDate}}</p>
<p class="modal-info">
    {{dates.start.localTime}}({{_embedded.venues.0.city.name}}/{{_embedded.venues.0.country.name}})</p>
<h3 class="modal-head">WHERE</h3>
<p class="modal-info between-string">{{_embedded.venues.0.city.name}},{{_embedded.venues.0.country.name}}</p>
<p class="modal-info">{{promoter.name}}</p>
<h3 class="modal-head">WHO</h3>
<p class="modal-info">{{_embedded.attractions.0.name}}</p>
<h3 class="modal-head">PRICES</h3>
<p class="modal-info">Standart {{priceRanges.0.min}}-{{priceRanges.0.max}} {{priceRanges.0.currency}}</p>
<button class="button-buy">BUY TICKETS</button>
<p class="modal-info">VIP {{priceRanges.1.min}}-{{priceRanges.1.max}} {{priceRanges.1.currency}}</p>
<button class="button-buy">BUY TICKETS</button>
<button class="button-more-author">MORE FROM THIS AUTHOR</button>